<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="contenedor active">
        <header class="header">
            <div class="contenedor-logo">
                <button id="boton-menu" class="boton-menu" > <img src="https://cdn-icons-png.flaticon.com/512/5358/5358649.png" alt="menu"></button>
                <a href="#" class="logo"><img src="   https://cdn-icons-png.flaticon.com/512/27/27223.png " alt="logo"><span>TareaRoy</span></a>
            </div>

            <div class="barra-busqueda">
                <input type="search" placeholder="Buscar" >
                <button class="boton-menu"><img src="https://cdn-icons-png.flaticon.com/512/16/16492.png" alt="Busqueda"></button>
            </div>
            <div class="botones-header">
                <button class="boton-menu"><img src="https://cdn-icons-png.flaticon.com/512/16/16492.png" alt="Busqueda"></button>
                <button class="boton-menu"><img src="https://cdn-icons-png.flaticon.com/512/16/16492.png" alt="Busqueda"></button>
                <button class="boton-menu"><img src="https://cdn-icons-png.flaticon.com/512/16/16492.png" alt="Busqueda"></button>
                <a class="avatar" href="#"> <img src="   https://cdn-icons-png.flaticon.com/512/1946/1946429.png " alt="avatar"></a>
            </div>

        </header>
        <nav class="menu-lateral">
            menu
        </nav>
        <main class="main">
            main
        </main>

    </div>
</body>
</html>